// primary colors
$primaryCream: #f6efdf;
$primaryAccent: #573321;

// secondary colors
$secondaryCream: #cc8d81;
$secondaryAccent: #d3d3d3;

// text
$primaryText: #0d0d0d;

// notifications
$notification: tomato;
$notificationText: whitesmoke;
$online: limegreen;
