@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.jobsList {
  background-color: $secondaryCream;
  border-bottom: 0.0625rem solid $primaryCream;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  margin-bottom: 0.125rem;

  &__post-container {
    width: 49.4375rem;
  }

  &__job-title-employer-container {
    margin-bottom: 0.9375rem;
  }

  &__job-title-apply-container {
    @include flex(space-between, center);

    &:hover {
      color: $primaryCream;
      cursor: pointer;
    }
  }

  &__job-title {
    margin-bottom: 0.9375rem;
  }

  &__apply {
    width: 9.375rem;
    color: $primaryText;

    &:hover {
      color: $primaryCream;
      cursor: pointer;
    }
  }

  &__job-summary-container {
    @include flex(space-between, center);
    margin-bottom: 0.625rem;
  }

  &__job-title {
    @include font-source(null, 300);
  }

  &__description-title {
    margin-bottom: 0.625rem;
  }

  &__item {
    width: 9.375rem;
  }
}
