@use "../../styles/core/mixins" as *;
@use "../../styles/core/variables" as *;

.button {
  &__button {
    background: none;
    border: none;
    outline: none;
    @include flex(center, center);
    @include height-width(2.5rem, 100%); // 40px
    background-color: $primaryCream;
    border: 0.0625rem solid $primaryAccent;
    border-radius: 20px; // 4px
    padding: 20px; // 10px

    &:hover {
      border-color: $secondaryCream;
      cursor: pointer;
    }
  }

  &__button-filter {
    width: 130px;
  }

  &__button-share {
    width: 0;
    border: none;

    &:hover {
      color: $secondaryCream;
    }
  }

  &__button-register-login {
    margin-top: 10px;
    border: none;

    &:hover {
      background-color: $secondaryCream;
    }
  }
}
