@use "../../styles/core/mixins" as *;
@use "../../styles/core/variables" as *;

.button {
  &__button {
    @include flex(center, center);
    @include height-width(2.5rem, 100%);
    border: 0.0625rem solid $primaryAccent;
    border-radius: 1.25rem;
    padding: 1.25rem;
    background-color: $primaryCream;
    background: none;
    border: none;
    outline: none;
    transition: all 0.3s ease-out;

    &:hover {
      border-color: $secondaryCream;
      cursor: pointer;
    }
  }

  &__button-filter {
    width: 8.125rem;
    border: 0.0625rem solid $secondaryCream;

    &:hover {
      background-color: $secondaryCream;
    }
  }

  &__button-share {
    width: 0;
    border: none;

    &:hover {
      color: $secondaryCream;
    }
  }

  &__button-header {
    border: 0.0625rem solid $secondaryCream;

    &:hover {
      background-color: $secondaryCream;
      cursor: pointer;
    }
  }

  &__button-register-login,
  &__button-messaging {
    margin-top: 0.625rem;

    &:hover {
      background-color: $secondaryCream;
    }
  }

  &__button-follow {
    @include flex(center, center);
    @include height-width(0px, 5rem);
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    background-color: $primaryCream;

    &:hover {
      background-color: $secondaryCream;
    }
  }
}
