@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.hero {
  margin: 0 auto;

  &__layer {
    @include flex(space-between, center);
    height: 35vh;
  }

  &__text-left,
  &__text-right {
    @include font-source(null, 300);
  }

  &__text-right {
    width: 25rem;
    margin-right: 6.25rem;
  }

  &__number {
    font-size: 1.875rem;
  }
}
