@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.my-network {
  margin-top: 50px;
  @include flex(center, center);

  &__layer {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
    height: 300px;
    width: 400px;
    @include flex(center, center);
  }

  &__header {
    text-align: center;
    margin-bottom: 20px;
  }

  &__form-container {
    margin-bottom: 15px;
  }

  &__form-label {
    @include font-source(12px, 300);

    margin: 5px 0;
  }

  &__form-input {
    @include font-source(15px, 300);
    background: none;
    outline: none;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid $secondaryAccent;
    cursor: pointer;
  }
}
