@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.profile {
  &__layer {
    margin: 0.625rem 7.5rem;
    display: flex;
  }

  &__middle {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    flex-basis: 75%;
  }

  &__right {
    flex-basis: 25%;
  }

  &__cover {
    @include height-width(12.5rem, 100%);
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }

  &__img {
    @include height-width(9.375rem, 9.375rem); // 36px
    border-radius: 50%;
    object-fit: cover;
    margin: -6.25rem 21.875rem 0 0;
    border: 0.3125rem solid whitesmoke;
  }

  &__name-job {
    margin-top: -3.125rem;
  }

  &__info {
    text-align: left;
    margin-bottom: 2.5rem;
  }

  &__info-text-item {
    font-weight: 700;
  }
}
