@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.viewJobs {
  margin: 0 auto;
  background-color: $primaryCream;

  &__layer {
    margin: 0 7.5rem;
  }

  &__main-content-container {
    display: flex;
  }

  &__left {
    flex-basis: 30%;
    margin-right: 1.875rem;
  }

  &__right {
    flex-basis: 70%;
  }

  &__loading {
    @include flex(center, center);
  }
}
