@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.filter {
  top: 9.375rem;
  position: sticky;

  &__form-label {
    @include font-source(1.125rem, 300);
  }

  &__form-label-location {
    padding-left: 0.25rem;
  }

  &__form-input {
    @include font-source(0.9375rem, 300);
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    border-bottom: 1px solid $primaryAccent;
    padding-bottom: 0.3125rem;
    width: 100%;
    margin: 0.625rem 0;
  }

  &__form-input-job {
    margin-bottom: 1.25rem;
  }
}
