@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.network-chat {
  margin-top: 3.125rem;
  overflow: hidden;

  &__layer {
    @include height-width(28.125rem, 40.625rem);
    box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
    background-color: whitesmoke;
    border-radius: 0.3125rem;
    margin: 0 auto;
  }

  &__layer-content {
    @include flex(space-between, null, column);
    padding: 0.9375rem 1.25rem;
    height: 28.125rem;
  }

  &__header {
    @include flex(space-between, center);
    border-bottom: 0.0625rem solid $secondaryAccent;
    padding-bottom: 0.625rem;
    flex-basis: 20%;
  }

  &__close-container {
    @include flex(center, center);

    &:hover {
      color: $notification;
      cursor: pointer;
    }
  }

  &__leave {
    color: $primaryAccent;
    font-weight: 600;
    margin-top: 0.1875rem;
  }

  &__main {
    @include flex(null, start);
    flex-basis: 80%;
  }

  &__sidebar {
    width: 12.5rem;
  }

  &__comments {
    margin: 0.625rem 0;
    text-align: center;
  }

  &__room-name {
    margin-bottom: 1.25rem;
  }

  &__room-title-container {
    @include flex(center, center);
    margin-bottom: 0.9375rem;
  }

  &__users-title {
    margin: 0.4375rem 0 0 0.3125rem;
  }

  &__chat-messages-container {
    max-height: 20.625rem;
    width: 31.25rem;
    overflow-y: scroll;
  }

  &__messages-container-scroll {
    height: 100%;
    overflow-y: scroll;
  }

  &__messages {
    background-color: $primaryCream;
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin: 0.625rem 0;
    width: fit-content;

    &--other {
      background-color: $secondaryCream;
    }
  }

  &__time {
    margin: -0.625rem 0 0 0.625rem;
    font-size: 0.75rem;
  }

  &__form-container {
    @include flex(null, end);
    flex-basis: 10%;
  }

  &__form-input {
    @include height-width(1.875rem, 100%);
    box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
    border-radius: 0.625rem;
    padding: 0.75rem;
    z-index: 9999;
    outline: none;
    border: none;
  }

  &__form-send {
    margin: 0.9375rem 0 0 0.3125rem;
  }

  &__send-icon {
    position: relative;
    top: 0.3125rem;
  }
}
