.news-article {
  flex-basis: 25%;
  margin: 0.9375rem 0;

  &__main-title {
    margin-bottom: 0.9375rem;
  }

  &__container {
    margin-left: 0.3125rem;
  }
  &__list-item {
    display: flex;
    margin-bottom: 1.25rem;
  }

  &__title {
    margin-bottom: 0.625rem;
  }

  &__date {
    font-weight: 700;
  }
}
