@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.profile {
  top: 150px;
  position: sticky;
  flex-basis: 25%;
  border-radius: 10px;
  text-align: center;
  height: fit-content;

  &__top {
    @include flex(center, center, column);
    border: 1px solid $notificationText;
    border-radius: 10px;
    padding-bottom: 12px;
    margin-top: 10px;
  }

  &__cover-img {
    margin-bottom: -20px;
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__name,
  &__job-title,
  &__description {
    padding: 0 5px;
  }

  &__job-title {
    margin-bottom: 12px;
  }

  // bottom section

  &__bottom-title {
    margin-top: 10px;
  }
}
