@use "../../styles/core/mixins" as *;
@use "../../styles/core/variables" as *;

.profile {
  top: 9.375rem;
  flex-basis: 25%;
  border-radius: 0.625rem;
  position: sticky;
  text-align: center;
  height: fit-content;

  &__top {
    @include flex(center, center, column);
    border: 1px solid $notificationText;
    border-radius: 0.625rem;
    padding-bottom: 0.75rem;
    margin-top: 0.625rem;
  }

  &__cover-img {
    @include height-width(5rem, 100%);
    margin-bottom: -1.25rem;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    object-fit: cover;
  }

  &__name,
  &__job-title,
  &__description {
    padding: 0 0.3125rem;
  }

  &__job-title {
    margin-bottom: 0.75rem;
  }

  &__bottom-title {
    margin: 0.625rem 0 0.625rem;
  }
}
