@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.avatar {
  @include height-width(2.25rem, 2.25rem);
  border-radius: 50%;
  object-fit: cover;

  &__feed {
    @include height-width(4.0625rem, 4.0625rem);
    margin-bottom: 15px;
  }
}
