@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.avatar {
  border-radius: 50%;
  object-fit: cover;
  @include height-width(2.25rem, 2.25rem); // 36px

  &__feed {
    @include height-width(65px, 65px); // 36px
    margin-bottom: 15px;
  }
}
