@use "../../styles/core/mixins" as *;
@use "../../styles/core/typography" as *;
@use "../../styles/core/variables" as *;

.community-feed {
  &__layer {
    margin: 0 1.25rem;
  }

  &__loading {
    @include flex(center, center);
  }
}

@include tablet {
  .community-feed {
    &__layer {
      margin: 0 5rem;
    }
  }
}

@include desktop {
  .community-feed {
    &__layer {
      margin: 0 7.5rem;
      display: flex;
    }
  }
}
